body {
    background-color: #ECEAE0;
    
p {
    margin-top: 400px;
    margin-bottom: 400px;
    margin-right: 400px;
    margin-left: 400px;

    
p { margin-bottom: 0; }
ul { margin-top: 0; }

}

