body {
    background-color: #ECEAE0;
    font-family: 'Verdana', 'Cambria', 'Times New Roman', 'serif';
}

section {
    margin-bottom: 30px;
}

.header {
    text-align: center;
}

.descriptors {
  font-weight: bold;
  font-size: H3;

}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

#contact {
    font-style: italic;
